.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trasheslib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.idea
*.swp
*.swo 
pids
logs
results
 
node_modules
bower_components
npm-debug.log
