<!DOCTYPE html>
<html>
  <head>
    <title>Angular To Do!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Angular -->
    <script type='text/javascript'
      src='/vendor/angular.min.js'></script>

    <script type='text/javascript'
      src='/vendor/angular-route.min.js'></script>

    <script type='text/javascript'
      src='/vendor/angular-resource.min.js'></script>

    <script type='text/javascript'
      src='/vendor/angular-ui-router.min.js'></script>


    <!-- Todo App -->
    <script type='text/javascript'
      src='/app/todo-app.js'></script>

    <!-- Controllers and such need to be loaded AFTER the app since the 
    modules these things live in are declared in the app file. -->
    <script type='text/javascript'
      src='/app/controllers/IndexCtrl.js'></script>

    <script type='text/javascript'
      src='/app/directives/directives.js'></script>

    <script type='text/javascript'
      src='/app/resources/todo.js'></script>

  </head>

  <!-- Specify the app that we're going to use -->
  <body ng-app='Todo'>

    <!-- The Angular partials load here. ui-view replaces ng-view 
    when you use ui-router.  -->
    <div ui-view></div>

  </body>
</html>
